@(form: Form[FormChangePassword])(implicit flash: Flash, session: play.api.mvc.Session)

@main("商户登陆") {
    <div class="password-bar"><!--修改密码-->
        <p class="title">修改密码</p>
        @helper.form(routes.User.changePasswordSubmit, 'id -> "from") {

            <input id="name" name="name" type="hidden" value="@session.get("userName").get" >

            <label for="User" class="user">
                <img src="@routes.Assets.at("images/lock.png")"/>
                <input id="oldPassword" name="oldPassword" type="password" placeholder="原密码"/>
            </label>
            <label for="Password" class="password">
                <img src="@routes.Assets.at("images/unlock.png")"/>
                <input id="password" name="password" type="password" placeholder="新密码"/>
            </label>
            <label for="Repassword" class="password">
                <img src="@routes.Assets.at("images/unlock.png")"/>
                <input id="newPassword" name="newPassword" type="password" placeholder="确认新密码"/>
            </label>
            <button class="loginbtn">确认</button>
            @form.errors.map { error =>
                <span class="title">@error.message</span>
            }

            @flash.get("success").map { message =>
                <span class="title">@message</span>
            }
        }
    </div>
}