@(form: Form[FormChangePassword])(implicit flash: Flash,session: play.api.mvc.Session)

@main("商户登陆") {
    <div class="password-bar"><!--修改密码-->
        <p class="title">修改密码</p>
        @helper.form(routes.User.changePasswordSubmit, 'id -> "from") {
            <label for="password" class="password">
                <i class="fa fa-unlock-alt"></i>
                <input id="password" name="password" type="Password" placeholder="原密码"/>
            </label>
            <label for="newPassword" class="newPassword">
                <i class="fa fa-lock"></i>
                <input id="newPassword" type="newPassword" placeholder="新密码"/>
                <a href="">原密码输入错误</a>
            </label>
            @form.errors.map { error =>
                <a href="#">@error.message</a>
            }
            <button class="loginbtn">确认</button>
        }
    </div>
}