@(form: Form[FormAccount])(implicit flash: Flash,session: play.api.mvc.Session)

@main("商户登陆") {

    <script>
            $().ready(function () {
                $("#from").validate({
                    rules: {
                        name: {
                            required: true,
                        },
                        password: {
                            required: true,
                        },
                    },
                    messages: {
                        name: {
                            required: "请输入用户名",
                        },
                        password: {
                            required: "请输入密码",
                        },
                        verifyCode:{
                            required:"请输入验证码",
                        },
                    }
                });
            })

            function reload() {
                $.ajax({
                    url: '@routes.Login.captcha()',
                    success: function () {
                        $("#imgVaildcode").attr("src", '@routes.Login.captcha()?' + new Date().getTime());
                    }
                })
            }
    </script>

    <div class="loginbar"><!--登录框-->
        @helper.form(routes.Login.authenticate(), 'id -> "from") {

            @flash.get("success").map { message =>
                <p class="success">
                    @message
                </p>
            }

            <img src="@routes.Assets.at("images/logo-a.png")" alt="web"/>
            <img src="@routes.Assets.at("images/logo_z.png")" width="108" alt="mbl"/>
            <p>中国银行
                <small>商户对账平台</small>
            </p>
            <label for="User" class="user">
                <img src="@routes.Assets.at("images/user-1.png")"/>
                <input id="name" name="name" type="text" placeholder="用户名"/>
            </label>
            <label for="Password" class="password">
                <img src="@routes.Assets.at("images/lock.png")"/>
                <input id="password"  name="password" type="password" placeholder="密码"/>
                <a href="">初始密码为111111，请立即修改</a>
            </label>
            <label for="Vaildcode" class="vaildcode">
                <img src="@routes.Assets.at("images/lock.png")"/>
                <input id="verifyCode" name="verifyCode" type="text" placeholder="验证码"/>
                <img id ="imgVaildcode" onclick="reload()" name="imgVaildcode" class="code-img" src="@routes.Login.captcha()" alt="">
            </label>
            <button class="loginbtn">登录</button>
            @form.errors.map { error =>
                <span class="title">@error.message</span>
            }
        }
    </div>
}