@(form: Form[FormRestPassword])(implicit flash: Flash, session: play.api.mvc.Session)

@main("商户修改密码") {
    <div class="password-bar"><!--修改密码-->
        <p class="title">修改密码</p>
        @helper.form(routes.User.changePasswordSubmit, 'id -> "from") {
            <label for="User" class="user">
                <img src="@routes.Assets.at("images/user-1.png")"/>
                <input id="name" name="name" type="text" placeholder="用户名"/>
            </label>
            <button class="loginbtn">确认</button>
            @form.errors.map { error =>
                <span class="title">@error.message</span>
            }

            @flash.get("success").map { message =>
                <span class="title">@message</span>
            }
        }
    </div>
}