@(tranls: List[model.TranLS], form: Form[FormTranQuery], count: Int, index: Int, date: String, orderId: String)(implicit flash: Flash, session: play.api.mvc.Session)

@main("交易流水查询") {

    <div class="check">

    @helper.form(routes.Tran.tranQuery, 'id -> "from") {
        <div class="check">
            <p>
                <span>订单号</span>
                <input class="text" type="text" id="orderId" name="orderId" placeholder="请输入订单号/也可以为空">
            </p>
            <p>
                <span>交易日期</span>
                <input class="date" type="text" name="date" id="date" placeholder="YYYYMMDD" >
            </p>
            <p>
                <button type="submit">搜索</button>
            </p>
        </div>
    }
    </div>
    <div class="table-box">

        @if(tranls.length > 0) {
            <table class="result">
                <tr>
                    <th>商户号</th>
                    <th>终端号</th>
                    <th>交易金额</th>
                    <th>交易日期</th>
                    <th>交易时间</th>
                    <th>清算金额</th>
                    <th>手续费</th>
                    <th>订单号</th>
                    <th>卡号</th>
                    <th>渠道</th>
                </tr>
                @tranls.map { model =>
                    <tr>
                        <td>@model.MerchantNo</td>
                        <td>@model.TerminalNo</td>
                        <td>@model.TranAmt</td>
                        <td>@model.TranDate</td>
                        <td>@model.TranTime</td>
                        <td>@model.SalfAmt</td>
                        <td>@model.FeeAmt</td>
                        <td>@model.Rnn</td>
                        <td>@model.CardNo</td>

                        @if(model.Channel == "0") {
                            <td>支付宝</td>
                        }
                        @if(model.Channel == "1") {
                            <td>银行卡</td>
                        }
                        @if(model.Channel == "2") {
                            <td>微信</td>
                        }
                    </tr>
                }
            </table>
        } else {
            <span class="error">没有交易记录</span>
        }
        <ul>
            @if(index > 0) {
                <li class="prev">
                    <a href='@routes.Tran.tranQueryCount(date,
                        orderId, index - 1, count)'>上一页</a>
                </li>
            }
            @if(index < count) {
                <li class="next">
                    <a href='@routes.Tran.tranQueryCount(date,
                        orderId, index + 1, count)'>
                        下一页</a>
                </li>
            }
            <li class="count">
                总笔数:@count
            </li>
        </ul>

    </div>
}